body {
    background-color: #fdfae5;
}

h1 {
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    line-height: 0.7
}

h2 {
    text-align: center;
    font-family: Verdana;
    font-size: 20px;
    line-height: 0.7
}

h3 {
    text-align: center;
    font-family: Verdana;
    font-size: 17px;
    line-height: 0.7
}
h4 {
    text-align: center;
    font-family: Verdana;
    font-size: 15px;
    line-height: 0.7
}